<section class="projects">
    <div class="section-title center no-line">Projects <div class="standalone-line-center"></div></div>
    <p>Some of my work</p>
    <div class="projects-container">
        {{#projects}}
        <div class="row project active">
            <div class="col-md-6 project-info align-center">
                <div class="project-title">{{title}}</div>
                <div class="project-description">
                    {{description}}
                </div>
                <div class="project-technologies">
                    {{#technologies}}
                        <ul class="technologies frontend">
                            {{#frontend}}
                                <li class="{{this}}" title="{{this}}"></li>
                            {{/frontend}}
                        </ul>

                        <ul class="technologies backend">
                            {{#backend}}
                                <li class="{{this}}" title="{{this}}"></li>
                            {{/backend}}
                        </ul>
                    {{/technologies}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="project-image align-center">
                    <div class="project-image-container">
                        <div class="switcher">
                            {{#images}}
                                <div class="project-image-item" style="background: url('{{this}}');"></div>
                            {{/images}}
                        </div>

                        <div class="project-image-overlay">
                            <a href="https://github.com/alexcambose/{{repoName}}" target="_blank" class="button button-github">{{>svg/github}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/projects}}
    </div>
</section>